---
# Only the main Sass file needs front matter (the dashes are enough)
---

$base-font-family: 'metropolis';
$background-color: #F4EBD0;
$michael-blue: #020788;
$brand-color: $michael-blue;
@import "minima";

@font-face {
  font-family: 'metro';
  src: url('metro-retro.regular.woff2');
}

@font-face {
  font-family: 'josefin';
  src: url('josefin-sans.regular.woff2');
}

@font-face {
  font-family: 'metropolis';
  src: url('metropolis.regular.woff2');
}

.site-header {
  border-top: thick double $michael-blue;
  border-bottom: none;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

//main .wrapper {
//  border-left:  thick double $michael-blue;
//  border-right: thick double $michael-blue;
//}

.site-title, h1, h2 {
  font-family: 'metro';
}

.post-title {
  text-decoration: underline overline;
  text-align: center;
  line-height: 1.2;
}

.post-tags a, .post-tags a:visited {
  color: $grey-color;
  &:hover {
    color: $text-color;
  }
}

.post-content p:has(img), .post-content figure {
  text-align: center;
}

.post-content figure img {
  margin: 0 auto 10px;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

h3.post-list-title {
  font-family: 'metro';
  a {
    color: #111;
  }
}

ul.post-list.horizontal {
  display: flex;
  gap: 20px;
    li {
      flex: 1;
    }
  @include media-query($on-palm) {
    display: inline;
  }
}

#main-image {
  padding-bottom: 20px;
}

#intro {
  font-size: 130%;
}

#more-bio {
  padding-bottom: 40px;
}

ul {
  list-style: square;
}

a, a:visited {
  color: $michael-blue;
  text-decoration: underline;
}

a:hover {
  color: #111;
}

.outlet-name, .video-context {
  font-weight: bold;
}

.clip-date {
  font-variant: small-caps;
  font-size: smaller;
}

.video-duration {
  font-style: italic;
  font-size: smaller;
}

blockquote {
  border-left: 4px solid $michael-blue;
  font-style: normal;
}