---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 1 -%}
    {%- assign heading = page.list_title -%}
    {%- assign posts = site.posts | slice: 0, 2 -%}
    {% include post_list.html heading=heading posts=posts show_description=true horizontal=true %}
    <div class="see-more-link">
        <p class="see-all-posts"><a href="{{ '/blog' | relative_url }}">See all posts</a></p>
    </div>
  {%- endif -%}

<style>
div.see-more-link {
    text-align: right;
}

#link-cards {
    display: flex;
    align-items: stretch;
    gap: 30px;
    margin-bottom: 15px;
    div {
        padding: 10px;
        border: thick double #020788;
        flex: 1;
        text-align: center;
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: #111;
            text-decoration: none;
            :hover {
               text-decoration: underline;
            }
        }
        h2 {
            margin-bottom: 0;
        }
    }
    @media (max-width: 600px) {
      flex-direction: column
    }
}
</style>

</div>
